@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Platypi:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
  }

  .navbar-items {
    @apply hover:text-primary text-sm jetbrains-mono px-3 py-2
  }

  .main-items{
    @apply relative transition-shadow border-4 border-transparent rounded-full text-3xl mt-20 ml-36
  }

  .contact-items {
    @apply rounded-full ml-5 border-2 border-primary shadow-lg px-5 items-center py-2 font-semibold mr-0
  }

  .contact-items:hover {
    @apply shadow-[0_0_0_1px] shadow-gray-300 bg-primary transition duration-500 text-white;
  }

  /* ASIDE */
  .aside-items {
    @apply relative transition-shadow border-4 border-transparent rounded-full text-sm;
  }

  .aside-items:hover {
    @apply shadow-[0_0_0_10px] shadow-gray-300 bg-gray-300 transition duration-500;
  }


  
  /* BORDA ANIMATION  */
  .border-animation {
    position: relative;
    border-radius: 100%;
    width: 29rem;
    height: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a borda não ultrapasse os limites do contêiner */
  }
  
  .border-animation::before,
  .border-animation::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 10rem);
    height: calc(100% + 10rem);
    border-radius: 50%;
    background: radial-gradient(circle, #00FF00 0%, #00FF00 20%, transparent 20%, transparent 40%, #00FF00 40%, #00FF00 60%, transparent 60%, transparent 80%, #00FF00 80%, #00FF00);
    background-size: 200% 200%; /* Ajusta o tamanho da repetição do gradiente */
    animation: border-animet 3s linear infinite;
  }
  
  .border-animation::after {
    filter: blur(3.125rem); /* Ajuste para o efeito desejado */
  }
  
  @keyframes border-animet {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .courses-bar {
    @apply rounded-lg px-4 py-7 border-2 border-primary shadow-lg flex flex-col items-start font-semibold gap-2  w-full sm:w-80 md:w-80 mr-0
  }
  .date-course{
    @apply text-sm text-primary text-start
  }  

  .name-course{
    @apply text-base text-black text-start
  }

  .plataform{
    @apply text-sm text-gray-400 text-start ml-3
  }
  
  
}
